<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} - Solspun Threads</title>
    <meta name="description" content="{{ product.description }}">
    <link rel="icon" href="/assets/thread.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
</head>
<body>
    {% include "../_includes/header.njk" %}

    <main class="site-main">
        {{ content | safe }}
    </main>

    {% include "../_includes/footer.njk" %}
    
    <script src="/assets/js/navigation.js"></script>
    <script src="/assets/js/blog-pagination.js"></script>
    <script src="/assets/js/product-carousel.js"></script>
</body>
</html> 