---
layout: base.njk
title: "Solspun Threads"
description: "Sewing Kits for Beginners and Professionals"
---

<div class="index">
  <div class="hero">
    <img id="hero-image" src="/assets/hero-image.jpg" />
    <div class="hero-logo">Made with Sol</div>
  </div>

  <div class="about">
    <img class="about-image" src="/assets/lelou.jpg" alt="About Us" />
    <div class="container">
      <h2 class="section-title">Hi Y'all!</h2>
      <p>I’m Lelou, the hands behind Solspun Threads!</br>
        When I’m not stitching up new designs, you’ll find me crocheting,
        wandering antique shops, or reading in the sun with my dog by my
        side. I make things intentionally — with care, feeling, and a love for
        slow creation woven into every piece. So glad you’re here.
      </p>
    </div>
  </div>

  <div class="sewing-kits">
    <div class="container">
      <h2 class="section-title"><img class="thread-icon" src="/assets/thread.png" alt="thread-icon" />Our Sewing Kits</h2>
      <div class="kits-grid">
        <div class="kit-card">
          <div class="kit-image">
            <img src="/assets/card-image1.jpg" alt="Beginner Sewing Kit" />
          </div>
          <div class="kit-content">
            <h3>Beginner Kit</h3>
            <a href="#" class="kit-link">Learn More</a>
          </div>
        </div>

        <div class="kit-card">
          <div class="kit-image">
            <img src="/assets/card-image2.jpg" alt="Intermediate Sewing Kit" />
          </div>
          <div class="kit-content">
            <h3>Intermediate Kit</h3>
            <a href="#" class="kit-link">Learn More</a>
          </div>
        </div>

        <div class="kit-card">
          <div class="kit-image">
            <img src="/assets/card-image3.jpg" alt="Professional Sewing Kit" />
          </div>
          <div class="kit-content">
            <h3>Professional Kit</h3>
            <a href="#" class="kit-link">Learn More</a>
          </div>
        </div>
        <div class="kit-card">
          <div class="kit-image">
            <img src="/assets/card-image1.jpg" alt="Beginner Sewing Kit" />
          </div>
          <div class="kit-content">
            <h3>Miscellaneous</h3>
            <a href="#" class="kit-link">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>