---
layout: product.njk
pagination:
  data: products.products
  alias: product
  size: 1
permalink: product/{{product.url}}/index.html
---

<section class="single-product">
        <div class="inner">
            <div class="single-product-image">
                <div class="product-carousel">
                    <div class="carousel-main">
                        <div class="carousel-slide active" data-index="0">
                            <img src="{{ product.images[0] }}" alt="{{ product.name }}">
                        </div>
                        {% for image in product.images %}
                        {% if loop.index > 1 %}
                        <div class="carousel-slide" data-index="{{ loop.index0 }}">
                            <img src="{{ image }}" alt="{{ product.name }}">
                        </div>
                        {% endif %}
                        {% endfor %}
                        
                        <button class="carousel-nav prev" aria-label="Previous image">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="carousel-nav next" aria-label="Next image">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    
                    <div class="carousel-thumbnails">
                        {% for image in product.images %}
                        <button class="thumbnail {% if loop.first %}active{% endif %}" data-index="{{ loop.index0 }}" aria-label="View image {{ loop.index }}">
                            <img src="{{ image }}" alt="{{ product.name }}">
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>